<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/src/css/pet-style.css">
    <link rel="stylesheet" href="/index.html">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">

    <title>starks pet shop </title>
</head>

<body>

    <header>
        <div class="header-container-pets">
            <div class="logo"><img src="/public/img/housestark.png" alt="Logo de Stark" class="house-stark">
            </div>

            <nav>
                <ul class ="menu-list">
                    <li><a href="#home"><i class="fa-solid fa-house"></i></a></li>
                    <li><a href="#pets"><i class="fa-solid fa-paw"></i></a></li>
                    <li><a href="#adopt"><i class="fa-solid fa-shield-dog"></i>adopt</a></li>
                    <li><a href="#especial"><i class="fa-solid fa-dragon"></i></a></li>
                </ul>
            </nav>
            <div class="back-btn">
                <a href="/index.html" class = "goback">Back<i class="fa-solid fa-right-to-bracket"></i></a>
            </div>
        </div>
    </header>



    <main>

        <section class="hero-pets">
            <div class="hero-pets-container">
                <div class = "hero-text">
                    <h1> Pets </h1>
                    <span class="pet-cats">cats</span>
                    <span class="pet-dogs">dogs</span>
                </div>
                <div class ="pets-image">
                    
                </div>






            </div>
        </section>

    </main>


</body>

</html>