/* 1. Átomos */
@import url('../components/atoms/pet-atoms.css');

/* 2. Moléculas */
@import url('../components/molecules/pet-molecules.css');

/* 3. Organismos */
@import url('../components/organism/pet-organims.css');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

