

.card-image img {
    width: 100%;
    transition: 0.3s;
    height: 250px; /* Altura fija para que todas las fotos se vean uniformes */
    object-fit: cover; /* Evita que las fotos de los gatitos/perritos se estiren */
}
.card-image img:hover {
    transform: scale(1.04);
}
.card-marketplace {
    background: #fff;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 4px 6px rgba(0,0,0,0.1);
    display: flex;
    flex-direction: column;
}

/* --- Área del Texto --- */
.card-body {
    padding: 16px;
    display: flex;
    flex-direction: column;
    gap: 8px; /* Espacio constante entre nombre y descripción */
    flex-grow: 1; /* Hace que todas las tarjetas midan lo mismo aunque el texto varíe */
}
/* Título de la mascota */
.card-body h1 {
    font-size: 1.4rem;
    margin-bottom: 8px; /* Un poco de espacio con el texto de abajo */
}

/* Descripción de la mascota */
.card-body p {
    font-size: 0.9rem;
    margin: 0;
    color: var(--acero-palido);
    line-height: 1.4; /* Mejora la lectura de la historia del Stark/Targaryen */
}

/* --- Footer --- */
.card-footer {
    display: flex;
    justify-content: flex-end;
    padding: 0 16px 16px 16px; /* Padding interno para que el icono no toque el borde */
    color: #777; /* O tu variable de color */
}